.slider-container {
    width: 640px;
    height: 360px;
    background-color: #222;
}

.slides {
    width: 100%;
    height: 100%;
    position: relative;
}

.slides .slide-navigation-container {
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 0 12px;
    box-sizing: border-box;
}

.slide-navigation {
    width: 48px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    border: 1px solid #888;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-navigation:hover {
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.slide-navigation-prev {
    justify-self: start;
    grid-column: 1 / 2;
    grid-row: 1;
}

.slide-navigation-next {
    justify-self: end;
    grid-column: 2 / 3;
    grid-row: 1;
}

.slides > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.next-arrow {
    background: url('./assets/arrow-right.svg');
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}

.prev-arrow {
    background: url('./assets/arrow-left.svg');
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
}